@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FDFDFD;
    direction: ltr;
    font-family: 'Roboto', Courier, monospace;
    font-size: 16px;
}
.container{
    padding: 0 130px;
}
.navbar{
    padding: 20px 0px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    font-size: 1.5em;
}
.navbar__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 30px;
    font-family: sans-serif;
}
.navbar > div{
    cursor: pointer;
}
.navbar__btn{
    font-weight: bold;
    font-size: 1.05em;
    padding: 14px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: white;
    background-color: #00E6B5;
    cursor: pointer;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
.main__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 40%;
    min-width: 500px;
    margin-bottom: 100px;
}
.main__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__doctor{
    height: auto;
    width: 80%;
}
.text__top{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 3em;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin: 20px 0;
}
.top__corona{
    color: #00E6B5;
}
.top__head{
    color: #002B5A;
}
.text__info{
    color: #979797;
    margin: 20px 0;
    line-height: 30px;
}
.text__btns{
    margin: 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.text__btns > button{
    margin-right: 40px;
    width: 160px;
    height: 60px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.05em;
    border-radius: 50px;
}
.btns__one{
    outline: none;
    border: none;
    color: white;
    background-color: #00E6B5;
}
.btns__two{
    border: solid 2px #00E6B5;
    color: #00E6B5;
    background-color: #FDFDFD;
}
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 50%;
}
.statistics__topic{
    color: #00E6B5;
    font-weight: bold;
    font-size: 2.3em;
    font-family: "Roboto", sans-serif;
    margin:50px 0 0 0 ;
}
.statistics__grid{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 100%;
    gap: 10px;
    margin: 20px 0 30px 0;
}
.grid__selector{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.grid__selector > select{
    width: 37%;
    height: 60px;
    background-color: #FDFDFD;
    border: 2px solid #d1d1d1;
    outline: none;
    border-radius: 50px;
    font-size: 1.2em;
    color: #979797;
    padding: 0 15px;
    appearance: none;
    background: url(images/svg/arrow.svg);
    background-position: 93% 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
#date__select{
    background-image: url(images/svg/date.svg) , url(images/svg/arrow.svg);
    background-position: 7% 50% , 93% 50%;
    background-repeat:no-repeat , no-repeat;
    background-size: 25px 25px , 20px 20px;
    padding: 0 70px;
}
.selector__btn{
    width: 120px;
    height: 60px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.05em;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #00E6B5;
    color: #FDFDFD;
}
.grid__today-statistics{
    grid-column: 4/6;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 40px 20px 20px 90px;
}
.grid__today-statistics > p{
    color: #002B5A;
    font-size: 1em;
    font-weight: bold;
    border-bottom: #e2e2e2 solid 2px;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
}
.today-statistics__info{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}
.today-statistics__info__1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.today-statistics__info__2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.today-statistics__info__3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.today-statistics__info__4{
    grid-column: 2/3;
    grid-row: 2/3;
}
.today-statistics__info > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}
.today-statistics__info > div > p{
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0;
}
.grid__info{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.grid__info > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.grid__info > div > p{
    font-size: 1.3em;
    font-weight: bold;
    margin: 8px 0;
}
.--gold{
    color: #FFC46C;
}
.--green{
    color: #00E6B5;
}
.--blue{
    color: #1B87CA;
}
.--darkblue{
    color:#002B5A;
}
.chart{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 50%;
}
.chart>p{
    color: #00E6B5;
    font-weight: bold;
    font-size: 2.3em;
    font-family: "Roboto", sans-serif;
    margin:60px 0 50px 0 ;

}
.chart__data{
    display: flex;
    gap: 20px;
    width: 100%;
}
.data__graph{
    flex: 1;
}
.data__graph>p{
    color: #0080c0;
    font-weight: bold;
    font-size: 0.9em;
    margin: 8px;
}
.data__graph>div>img{
    height: auto;
    width: 100%;
}
.worldwide{
    flex: 1;
    padding: 0px;
    padding-left: 40px;
}
.orders{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 20px;
    margin-top: 100px;
}
.orders__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.orders__head > p{
    font-size: 1.7em;
    font-weight: 500;
}
.orders__head > button{
    font-weight: bold;
    font-size: 1.05em;
    padding: 12px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: white;
    background-color: #00E6B5;
    cursor: pointer;
}
.orders__main{
    width: 100%;
}
.orders__main > table{
    text-align: left;
    width: 100%;
    border-collapse: collapse ;
}
.table__head{
    border-bottom: #ebebebe0 solid 1px;
}
.table__head > th{
    padding: 10px 0px;
}
.table__head > th > img{
    height: 28px;
    width: 28px;
}
.table__data{
    border-bottom: #ebebebe0 solid 1px;
}
.table__data:last-child{
    border-bottom: none;
}
.table__data > td{
    color: #5a5a5a;
    padding: 10px 0px;
}
.table__data > td:last-child{
    text-align: right;
}
.table__data > td > img{
    height: 28px;
    width: 28px;
}
.orders__foot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}
.orders__foot > button{
    font-weight: bold;
    font-size: 1.05em;
    padding: 13px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: white;
    background-color: #00E6B5;
    cursor: pointer;
}
.blog{
    width: 100%;
     height: 500px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 170px;
}
.blog > p{
    color: #00E6B5;
    font-weight: bold;
    font-size: 2.3em;
    font-family: "Roboto", sans-serif;
    margin:0 0 50px 0 ;
}
.blog__grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
}
.square-one{
    background-color: #00E6B5;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    position: absolute;
    top: -15px;
    left: -25px;
    z-index: -1;
}
.square-two{
    background-color: #00E6B5;
    height: 150px;
    width: 150px;
    border-radius: 25px;
    position: absolute;
    bottom:-20px ;
    right:-20px;
    z-index: -1;
}
.blog__part1{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items:start;
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(images/doctor-stethoscope.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    position: relative;
}
.blog__part2{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items:start;
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(images/doctor-write.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    position: relative;
}
.blog__part3{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items:start;
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(images/covid-viruse.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    position: relative;
}
.blog__part4{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items:start;
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(images/covid-viruse.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    position: relative;
}
.blog__part5{
    display:flex;
    flex-direction:column;
    justify-content: end;
    align-items:start;
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(images/doctor-write.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    position: relative;
}
.blog__part__shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 0;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(80,80,80,0.5942752100840336) 32%, rgba(255,0,0,0) 100%);
    border-radius: 25px;
}
.blgo__info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.blog__part__topic{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.blog__part__topic > div{
    width: 6px;
    height: 35px;
    margin-right: 20px;
    border-radius: 0 10px 10px 0;
    background-color: #FDFDFD;
    z-index: 2;
}
.blog__part__topic > p{
    color: #FDFDFD;
    font-weight: 900;
    font-size: 0.9em;
    z-index: 2;
}
.blog__part__data{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}
.blog__part__data>div{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 8px 0px 12px 10px;
}
.blog__part__data>div>img{
    height: 20px;
    width: 20px;
    z-index: 2;
}
.blog__part__data> div > p{
    color: #FDFDFD;
    font-weight: 500;
    font-size: 0.8em;
    z-index: 2;
}